h1 {
    color: white;
    text-align: left;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
}

h2 {
    color: white;
    text-align: left;
    font-size: 2vw;
    font-weight: normal;
    text-shadow: 2px 2px 2px #333;
}

.btn {
    background-color: #0095fb;
    color: black;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    margin: 2% 0;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #005580;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px #333;
}

body {
    background-color: #000000; 
    font-family: 'Roboto Mono', monospace;
    color: white; /* same color as H2 */
}