h1 {
    position: absolute;
    left: 30%; /* move 50% more to the left */
    top: 20%;
    color: white;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
}

h2 {
    position: absolute;
    left: 30%;
    top: 40%; /* move down from the H1 element */
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}

body {
    background-color: #000000; 
    font-family: 'Roboto Mono', monospace;
    color: gray; /* same color as H2 */
    position: absolute;
    left: 30%;
    top: 40%; /* move down from the H1 element */
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}




.btn {
    background-color: #0077c9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin: 2% 0;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #005580;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px #333;
}

/* CSS file - styles.css */

.textbox {
  width: 500px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

#text {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 70px 0;
  animation: text-animation 5s linear infinite;
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    color: blue;
  }
  50% {
    color: initial;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

