h1 {
    position: absolute;
    left: 15vw; /* move 50% more to the left */
    top: 20vh;
    color: white;
    text-align: left;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
}

h2 {
    color: white;
    text-align: left;
    font-size: 4vw;
    font-weight: normal;
    text-shadow: 2px 2px 2px #333;
}

.center-text {
    position: absolute;
    left: 15vw;
    top: 40vh; /* move down from the H1 element */
    text-align: left;
    font-size: 1vw;
    line-height: 1.5;
}

body {
    background-color: #000000; 
    font-family: 'Roboto Mono', monospace;
    color: white; /* same color as H2 */
}

.btn {
    background-color: #0095fb;
    color: black;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    margin: 2% 0;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
    transition: all 0.2s ease;
    position: absolute;
    left: 30vw;
    bottom: 35vh;
}

.btn1 {
    background-color: #0095fb;
    color: black;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    margin: 2% 0;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
    transition: all 0.2s ease;
    position: absolute;
    left: 17.5vw;
    bottom: 35vh;
}

.btn2 {
    background-color: #0095fb;
    color: black;
    border: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    margin: 2% 0;
    text-align: right;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
    transition: all 0.2s ease;
    position: absolute;
    left: 23vw;
    bottom: 25vh;
}

span {
    color: #000000
}

.btn:hover {
    background-color: #005580;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px #333;
}

.btn1:hover {
    background-color: #005580;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px #333;
}

.btn2:hover {
    background-color: #005580;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px #333;
}

.textbox {
  background-color: #0F0F0F;
  width: 40vw;
  height: 50vh;
  overflow: hidden;
  position: absolute;
  left: 45vw;
  bottom: 27.5vh;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

#text {
    color: white;
    font-size: 3vw; /* changed from 36px */
    font-weight: bold;
    margin: 0;
    padding: 7vh 0;
    animation: text-animation 5s linear infinite;
    text-shadow: 1px 1px 2px #333;
}

.about-me-header {
    position: relative;
    top: 50vh;
    text-align: center;
}
